{% extends 'budget_app/base.html' %}

{% block content %}

  <a class="btn btn-default" href="{% url 'account_edit' pk=account.pk %}">Edit Account Properties</a>
  <a class="btn btn-default" href="{% url 'file_upload' pk=account.pk %}">Upload Data File</a>
  <a class="btn btn-default" href="{% url 'account_delete' pk=account.pk %}">Delete Account</a>

  <div class="upload">
    {% for upload in uploads %}
      {{forloop.counter}}{{ upload.name }}
      ({{ upload.docfile }}; {{ upload.upload_date }})
      <a href="{% url 'populate_fields' pk=upload.pk %}">Populate Fields</a>
      <a href="{% url 'file_delete' pk=upload.pk %}">Delete File</a>
      <a href="{{upload.docfile.url}}">Download File</a>
      <hr />
    {% endfor %}
  </div>

  <div class="account">
    {% if account.created_date %}
      <div class="account-details">
        <h1>{{ account.account_name }}</h1>
        <p>Description: {{ account.description }}</p>
        <p>Account Start Date: {{ account.start_date }}</p>
        <p>Initial Balance: £{{ account.initial_balance }}</p>
        <p>Account Balance: £{{ account_balance }}</p>
        <a class="btn btn-default" href="{% url 'transaction_input_account' pk=account.pk %}">Input Transaction</a>
      </div>
    {% endif %} <!--maybe link to 'create account' if no account present -->
  </div>

  <div class="year">
    {% for year, balance in zipped_years %}
      <div class="year-details">
        <h1><a href="{% url 'year_detail' pk=year.pk %}">{{ year.year }}</a></h1>
        <p>Balance: £{{ balance }}</p>
      </div>
    {% endfor %}
  </div>

{% endblock %}
