{% extends 'budget_app/base.html' %}

{% block content %}

  <a class="btn btn-default" href="{% url 'account_edit' pk=account.pk %}">Edit Account Properties</a>
  <a class="btn btn-default" href="{% url 'account_delete' pk=account.pk %}">Delete Account</a>
  <a class="btn btn-default" href="{% url 'file_upload' pk=account.pk %}">Upload Data File</a>

  <div class="upload_file">
    {% for upload_file in uploads %}
      {{forloop.counter}}.<a href="{% url 'populate_fields' pk=upload_file.pk %}">{{ upload_file.name }}</a>
      ({{ upload_file.docfile }}; {{ upload_file.upload_date }})
      <a href="{% url 'file_delete' pk=upload_file.pk %}">Delete File</a>
      <a href="{{upload_file.docfile.url}}">Download File</a>
      <hr />
    {% endfor %}
  </div>

  <div class="account">
    {% if account.created_date %}
      <div class="account-details">
        <h1>{{ account.account_name }}</h1>
        <p>Created: {{ account.created_date }}</p>
        <p>Start Date: {{ account.start_date.date }}</p>
        <p>Initial Balance: £{{ account.initial_balance }}</p>
        <p>Account Balance: £{{ account_balance }}</p>
        <a class="btn btn-default" href="{% url 'transaction_input' pk=account.pk %}">Input Transaction</a>
      </div>
    {% endif %} <!--maybe link to 'create account' if no account present -->
  </div>

  <div class="year">
    {% for year, balance in zipped_years %}
      <div class="year-details">
        <h1><a href="{% url 'year_detail' pk=year.pk %}">{{ year.year }}</a></h1>
        <p>Balance: £{{ balance }}</p>
      </div>
    {% endfor %}
  </div>

{% endblock %}
