{% extends 'budget_app/base.html' %}

{% block content %}
  <a class="btn btn-default" href="{% url 'account_edit' pk=account.pk %}">Edit Account Properties</a>
  <div class="account">
    {% if account.published_date %}
      <div class="account-name">
        <h1>{{ account.account_name }}</h1>
      </div>
      <div class="pub-date">
        <p>Created: {{ account.published_date }}</p>
      </div>
      <div class="initial-balance">
        <p>Initial Balance: £{{ account.initial_balance }}</p>
      </div>
    {% endif %}
  </div>
  <div class="account">
    <table border="2">
      <div class="account-headings">
        <div class="account-cell">
          <tr>
            <th>{{ account.heading_date }}</th>
            <th>{{ account.heading_description }}</th>
            <th>{{ account.heading_in }}</th>
            <th>{{ account.heading_out }}</th>
            <th>{{ account.heading_balance }}</th>
          </tr>
        </div>
      </div>
      {% for transaction in transaction_set %}
        <div class="transaction">
          <div class="table-cell" style="width": 50px;>
            <tr>
              <td>{{ transaction.trans_date }}</td>
              <td>{{ transaction.description }}</td>
              {% if transaction.money_in == 0 %}
                <td></td>
              {% else %}
                <td>£{{ transaction.money_in }}</td>
              {% endif %}
              {% if transaction.money_out == 0 %}
                <td></td>
              {% else %}
                <td>£{{ transaction.money_out }}</td>
              {% endif %}
              <td>£{{ transaction.balance }}</td>
              <td>
                <a class="btn-default" href="{% url 'transaction_edit' pk=transaction.pk %}">Edit</a>
                <a class="btn-default" href="{% url 'transaction_delete' pk=transaction.pk %}">Delete</a>
              </td>
            </tr>
          </div>
        </div>
      {% empty %}
        <p>Empty data set</P>
      {% endfor %}
  </div>
  <a class="btn btn-default" href="{% url 'transaction_input' pk=account.pk %}">Input Transaction</a>
{% endblock %}
