{% extends 'data_app/base.html' %}

{% block content %}
  <div class="table">
    {% if table.published_date %}
      <div class="date">
        <p>Uploaded; {{ table.published_date }}</p>
      </div>
    {% endif %}
    <a class="btn btn-default" href="{% url 'edit_table' pk=table.pk %}">Edit Table</a>
    <h1>{{ table.title }}</h1>
  </div>
  <div class="table">
    <table border="2">
      <div class="table-headings">
        <div class="table-cell">
          <tr>
            <th>{{ table.x_heading }}</th>
            <th>{{ table.y_heading }}</th>
          </tr>
        </div>
      </div>
      {% for entry in table.entries.all %}
        <div class="table-entry">
          <div class="table-cell" style="width": 50px;>
            <tr>
              <td>{{ entry.x_value }}</td>
              <td>{{ entry.y_value }}</td>
            </tr>
          </div>
        </div>
      {% empty %}
        <p>Empty data set</P>
      {% endfor %}
  </div>
  <a class="btn btn-default" href="{% url 'input_table_entry' pk=table.pk %}">Input Row</a>
{% endblock %}
